* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    z-index: 20;
    position: fixed;
    width: 100%;
    background-color: #000000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navv {
    display: flex;
    justify-content: center;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}

li {
    padding-right: 30px;
    list-style-type: none;
}

.info {
    background-size: cover;
    padding-top: 230px;
    padding-bottom: 90px;
    background-image: url(images/nootebok.png);
    background-position: center;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 64px;
    padding-bottom: 30px;
}

.text {
    max-width: 504px;
    margin: auto;
    text-align: center;
    font-size: 18px;
}

.button {
    display: inline-block;
    margin: auto;
    padding: 15px 45px 15px 45px;
    color: #fff;
    text-decoration: none;
    background-color: #00AFDB;
}

.about {
    font-weight: bold;
    color: #fff;
    padding-right: 85px;
}

.navv .aa {
    text-decoration: none;
    color: #FFFFFF;
    padding-right: 85px;
}

.navv .none .aa {
    padding-right: 0;
}

main {
    color: #fff;
}

.but {
    padding-top: 33px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 183px;
}

.social {
    display: block;
    max-width: 175px;
    margin: auto;
}

.button:hover,
button:hover {
    cursor: pointer;
    background-color: #009CC2;
}

.socialimg {
    padding-right: 25px;
}

.socialimg:last-child {
    padding-right: 0;
}

.container {
    max-width: 1062px;
    margin: auto;
}

.your {
    padding-top: 120px;
    padding-bottom: 120px;
}

h2 {
    text-transform: uppercase;
    color: #373737;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 26px;
}

.left-text {
    color: #4E4E4E;
    font-size: 14px;
}

.build {
    font-size: 14px;
    color: #373737;
}

.columnleft {
    width: 400px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imp {
    color: #373737;
}

.butt {
    padding-top: 33px;
    text-align: start;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 183px;
}

.block {
    background-size: cover;
    background-image: url(images/background.png);
    text-align: center;
    padding-top: 340px;
    padding-bottom: 340px;
}

.sign {
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
}

input:focus {
    border: none;
    outline: none;
}

.input-text {
    display: inline-block;
    padding: 23px 120px 23px 24px;
    border: none;
}

.check {
    display: inline-block;
    padding: 21px 33px 23px 33px;
    background-color: #00AFDB;
    margin: auto;
    max-width: 406px;
    border: none;
}

.none {
    padding-right: 0px;
}

.apple {
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    background-color: #00AFDB;
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 18px;
    font-weight: bold;
}

.checks {
    display: inline-block;
    background-image: url(images/check-icon.svg) no-repeat;
    padding: 19px 33px 23px 33px;
    background-color: #009CC2;
    margin: auto;
    max-width: 406px;
    border: none;
}

.playmarket {
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    background-color: #00AFDB;
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 18px;
    font-weight: bold;
    margin-left: 33px;
}

.checki {
    display: inline-block;
    background-image: url(images/check-icon.svg) no-repeat;
    padding: 16px 33px 23px 33px;
    background-color: #009CC2;
    margin: auto;
    max-width: 406px;
    border: none;
}

.finall {
    max-width: 600px;
    margin: auto;
    text-align: center;
    padding-top: 120px;
    color: #4E4E4E;
}

.ppp {
    font-size: 14px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.hhh {
    color: #373737;
    font-size: 24px;
}

.buttons {
    padding-bottom: 180px;
}

.content {
    margin-top: 90px;
    max-width: 1060px;
    margin: auto;
}

footer {
    padding-bottom: 92px;
    padding-top: 92px;
    background-color: #000000;
}

.naves {
    display: flex;
    justify-content: left;
}

.credits {
    color: #fff;
    text-decoration: none;
    padding-right: 25px;
    border-right: 1px solid #4E4E4E;
}

.privacy {
    color: #fff;
    text-decoration: none;
    border-right: 1px solid #4E4E4E;
    padding-right: 25px;
}

.our-teams {
    color: #fff;
    text-decoration: none;
}

.our {
    position: relative;
    background-color: #F5F6F7;
    overflow: hidden;
}

.our-community {
    padding-top: 158px;
    padding-bottom: 168px;
    padding-left: 125px;
    width: 400px;
    text-align: center;
    position: relative;
}

.containerr {
    max-width: 1062px;
    margin: auto;
    position: relative;
}

.heading {
    padding-top: 20px;
    color: #373737;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
}

.text-girl {
    padding-top: 20px;
    color: #4E4E4E;
    font-size: 14px;
}

.one {
    top: 80px;
    right: 0;
    position: absolute;
}

.two {
    color: #373737;
    font-size: 18px;
}

.three {
    border: none;
    outline: none;
}

.slider {
    width: 1286px;
    position: absolute;
    left: 50%;
    transform: translateX(-94px);
    z-index: 10;
    top: 117px;
}

.apple::after {
    content: url(images/apple.svg);
    display: inline-block;
    width: 60px;
    background-color: #009CC2;
    line-height: 60px;
    text-align: center;
    margin-left: 18px;
}

.apple:hover {
    background-color: #009CC2;
}

.playmarket::after {
    content: url(images/android.svg);
    display: inline-block;
    width: 60px;
    background-color: #009CC2;
    line-height: 60px;
    text-align: center;
    margin-left: 18px;
}

.playmarket:hover {
    background-color: #009CC2;
}

.lasttext {
    font-weight: 14px;
    color: #818181;
}

footer .content {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.logotipe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.three:hover {
    background-color: #F5F6F7;
    cursor: pointer;
    opacity: .3;
}

@media (max-width: 500px) {
    .navv {
        flex-wrap: wrap;
    }
    .container {
        max-width: 500px;
    }
    .nav {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        font-size: 14px;
        align-items: center;
        max-width: 500px;
    }
    .navv .aa {
        text-decoration: none;
        color: #FFFFFF;
    }
    .navv .none .aa {
        padding-right: 0;
    }
}